# Context data for the sea level data explorer

In [1]:
%matplotlib inline

from IPython.core.interactiveshell import InteractiveShell
from datetime import datetime

#get data from worldbank
from pandas_datareader import wb

import glob
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import json
import matplotlib.pyplot as plt

InteractiveShell.ast_node_interactivity = "all"
pd.options.display.max_rows = 200
#matplotlib.rcParams['svg.fonttype'] = 'none'

# Sea Level Data, Stations

In [47]:
stations = pd.read_csv('context_data/sealevel_viz_psmsl_1985_2015.csv', usecols=[2, 4, 5, 6, 7, 9])

stations = stations.drop_duplicates()

stations.rename(columns={'ID': 'id'}, inplace=True)

stations['id'].nunique()
stations.head()

513

      id   location  latitude  longitude country continent
0      1      Brest    48.383     -4.495     FRA    europe
31    61  Marseille    43.279      5.354     FRA    europe
62   453   Le Havre    49.482      0.106     FRA    europe
93   467  Cherbourg    49.651     -1.636     FRA    europe
124  468  Dunkerque    51.048      2.367     FRA    europe

In [48]:
tide_data = pd.read_csv('data/dataviz/sealevel_viz_whole_timeseries.csv')

In [49]:
tide_data

,id,1807,1808,1809,1810,1811,1812,1813,1814,1815,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,1,0.0,-51.0,-39.0,-35.0,-27.0,-26.0,-15.0,-17.0,-21.0,...,133.0,135.0,140.0,157.0,158.0,162.0,164.0,176.0,169.0,NaN
1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,263.0,261.0,269.0,273.0,278.0,284.0,283.0,NaN,234.0,NaN
2,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,117.0,116.0,119.0,131.0,133.0,150.0,154.0,164.0,160.0,NaN
3,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,324.0,335.0,323.0,318.0,NaN,NaN,NaN,NaN,NaN,NaN
4,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,130.0,141.0,141.0,148.0,158.0,152.0,149.0,144.0,144.0,NaN
5,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,264.0,273.0,270.0,274.0,276.0,268.0,263.0,269.0,275.0,NaN
6,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,133.0,129.0,128.0,125.0,116.0,127.0,128.0,141.0,157.0,165.0
7,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,201.0,209.0,205.0,208.0,213.0,201.0,193.0,184.0,185.0,NaN
8,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,399.0,407.0,421.0,430.0,442.0,461.0,461.0,460.0,445.0,435.0
9,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-261.0,-237.0,-257.0,-284.0,-271.0,-286.0,-315.0,-326.0,-285.0,NaN
10,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157.0,164.0,161.0,157.0,158.0,149.0,142.0,147.0,151.0,NaN
11,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,414.0,420.0,417.0,418.0,421.0,414.0,409.0,415.0,421.0,NaN
12,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,288.0,294.0,287.0,282.0,286.0,278.0,269.0,274.0,287.0,NaN
13,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,274.0,280.0,273.0,270.0,279.0,269.0,262.0,271.0,293.0,NaN
14,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,323.0,335.0,327.0,322.0,328.0,320.0,308.0,317.0,339.0,NaN
15,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,133.0,138.0,130.0,124.0,123.0,112.0,101.0,109.0,121.0,NaN
16,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-231.0,-220.0,-229.0,-252.0,-242.0,-251.0,-270.0,-272.0,-243.0,NaN
17,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1070.0,1053.0,1042.0,1060.0,1069.0,1079.0,1112.0,1127.0,1110.0,NaN
18,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-75.0,-74.0,-79.0,-103.0,-97.0,-109.0,-112.0,-115.0,-83.0,NaN
19,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.0,90.0,88.0,82.0,85.0,81.0,69.0,73.0,87.0,NaN
20,51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,229.0,257.0,284.0,286.0,288.0,276.0,255.0,235.0,220.0,NaN
21,57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-997.0,-982.0,-1007.0,-1042.0,-1033.0,-1053.0,-1085.0,-1097.0,-1057.0,NaN
22,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89.0,98.0,98.0,90.0,96.0,92.0,79.0,81.0,96.0,NaN
23,61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,144.0,147.0,161.0,204.0,200.0,210.0,217.0,226.0,191.0,NaN
24,62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-351.0,-341.0,-350.0,-374.0,-365.0,-376.0,-397.0,-399.0,-369.0,NaN
25,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-104.0,-86.0,-104.0,-118.0,-112.0,-125.0,-149.0,-157.0,-133.0,NaN
26,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.0,42.0,31.0,24.0,33.0,21.0,4.0,-3.0,15.0,NaN
27,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-407.0,-401.0,-421.0,-445.0,-434.0,-449.0,-478.0,-489.0,-452.0,NaN
28,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.0,76.0,72.0,68.0,69.0,60.0,NaN,NaN,NaN,NaN
29,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-362.0,-343.0,-363.0,-382.0,-374.0,-387.0,-416.0,-426.0,-397.0,NaN
30,79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-576.0,-562.0,-588.0,-630.0,-619.0,-642.0,-673.0,-683.0,-636.0,NaN
31,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,209.0,229.0,218.0,205.0,216.0,209.0,NaN,NaN,NaN,NaN
32,81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123.0,131.0,130.0,132.0,136.0,125.0,NaN,NaN,NaN,NaN
33,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,111.0,120.0,97.0,64.0,90.0,74.0,NaN,NaN,NaN,NaN
34,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-791.0,-777.0,-803.0,-840.0,-831.0,-850.0,-882.0,-894.0,-854.0,NaN
35,89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.0,43.0,35.0,22.0,27.0,18.0,NaN,NaN,NaN,NaN
36,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,29.0,18.0,9.0,5.0,-17.0,NaN,NaN,NaN,NaN
37,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,251.0,250.0,240.0,234.0,229.0,225.0,221.0,227.0,231.0,NaN
38,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,323.0,335.0,341.0,360.0,371.0,385.0,395.0,NaN,NaN,NaN
39,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,154.0,163.0,160.0,158.0,166.0,155.0,NaN,NaN,NaN,NaN
40,111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,186.0,209.0,222.0,229.0,264.0,288.0,295.0,298.0,296.0,NaN
41,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,135.0,136.0,144.0,131.0,130.0,131.0,141.0,156.0,181.0,205.0
42,113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,116.0,125.0,124.0,127.0,137.0,126.0,NaN,NaN,NaN,NaN
43,118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,115.0,120.0,90.0,85.0,103.0,NaN,NaN,NaN,NaN,NaN
44,119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,115.0,119.0,99.0,92.0,104.0,100.0,NaN,NaN,NaN,NaN
45,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,151.0,171.0,171.0,180.0,197.0,193.0,NaN,NaN,NaN,NaN
46,126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-141.0,-33.0,-8.0,-58.0,-65.0,-87.0,-143.0,-143.0,-117.0,NaN
47,127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,215.0,204.0,198.0,204.0,196.0,208.0,204.0,222.0,228.0,245.0
48,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,292.0,296.0,295.0,305.0,321.0,330.0,337.0,333.0,327.0,NaN
49,131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,236.0,250.0,263.0,278.0,283.0,282.0,NaN,NaN,NaN,NaN
50,132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-89.0,-90.0,-94.0,-83.0,-82.0,-77.0,-66.0,-69.0,-80.0,NaN
51,133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,11.0,9.0,22.0,23.0,36.0,40.0,43.0,42.0,NaN
52,134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.0,61.0,62.0,83.0,87.0,102.0,109.0,118.0,117.0,NaN
53,135,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,387.0,385.0,395.0,396.0,415.0,430.0,430.0,427.0,415.0,395.0
54,136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,133.0,137.0,141.0,141.0,141.0,149.0,157.0,163.0,176.0,NaN
55,137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47.0,179.0,231.0,223.0,220.0,198.0,143.0,143.0,166.0,NaN
56,144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-104.0,-20.0,8.0,-22.0,-18.0,-26.0,-66.0,-66.0,-54.0,NaN
57,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,674.0,744.0,784.0,801.0,804.0,843.0,846.0,837.0,837.0,NaN
58,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,211.0,214.0,224.0,226.0,242.0,260.0,265.0,266.0,261.0,253.0
59,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,240.0,247.0,256.0,283.0,287.0,291.0,304.0,313.0,292.0,NaN
60,155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,197.0,191.0,175.0,170.0,159.0,156.0,154.0,165.0,171.0,188.0
61,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,186.0,188.0,190.0,191.0,190.0,202.0,207.0,222.0,248.0,261.0
62,161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,503.0,504.0,511.0,520.0,532.0,538.0,552.0,552.0,568.0,611.0
63,163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,243.0,235.0,219.0,187.0,172.0,168.0,156.0,159.0,171.0,NaN
64,165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-255.0,-268.0,-271.0,-264.0,-271.0,-260.0,-267.0,-257.0,-259.0,NaN
65,166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92.0,82.0,83.0,90.0,85.0,99.0,95.0,104.0,106.0,NaN
66,167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,125.0,118.0,115.0,118.0,120.0,121.0,106.0,115.0,111.0,NaN
67,172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-468.0,-448.0,-471.0,-501.0,-491.0,-509.0,-540.0,-552.0,-514.0,NaN
68,173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-88.0,-67.0,-58.0,-50.0,-45.0,-37.0,NaN,NaN,NaN,NaN
69,174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,74.0,82.0,111.0,134.0,156.0,170.0,179.0,171.0,NaN
70,175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-65.0,-71.0,-79.0,-70.0,-68.0,-51.0,-51.0,-32.0,-30.0,NaN
71,179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-149.0,-142.0,-149.0,-164.0,-158.0,-168.0,-184.0,-186.0,-169.0,NaN
72,180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,339.0,345.0,359.0,369.0,380.0,397.0,398.0,395.0,380.0,376.0
73,183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,150.0,152.0,162.0,175.0,185.0,204.0,215.0,214.0,187.0,177.0
74,188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,180.0,190.0,197.0,198.0,202.0,208.0,215.0,225.0,243.0,259.0
75,189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.0,93.0,106.0,124.0,144.0,170.0,179.0,175.0,153.0,NaN
76,192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,135.0,165.0,176.0,178.0,187.0,196.0,189.0,194.0,183.0,NaN
77,193,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.0,22.0,17.0,23.0,19.0,30.0,27.0,42.0,45.0,NaN
78,194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-620.0,-606.0,-633.0,-672.0,-663.0,-683.0,-713.0,-724.0,-680.0,NaN
79,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,168.0,172.0,193.0,198.0,199.0,204.0,208.0,229.0,205.0,NaN
80,196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.0,64.0,69.0,72.0,83.0,85.0,98.0,105.0,108.0,NaN
81,201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,302.0,372.0,391.0,370.0,367.0,361.0,329.0,331.0,334.0,NaN
82,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,120.0,122.0,131.0,152.0,145.0,145.0,144.0,150.0,137.0,NaN
83,203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-665.0,-651.0,-680.0,-719.0,-708.0,-727.0,-756.0,-765.0,-722.0,NaN
84,205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,11.0,19.0,32.0,51.0,56.0,NaN,NaN,NaN,NaN
85,213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71.0,72.0,73.0,73.0,69.0,72.0,73.0,74.0,81.0,NaN
86,215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,159.0,161.0,149.0,161.0,162.0,166.0,197.0,213.0,190.0,NaN
87,216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,147.0,161.0,177.0,172.0,184.0,187.0,197.0,192.0,191.0,NaN
88,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,193.0,197.0,197.0,196.0,201.0,207.0,215.0,225.0,240.0,NaN
89,224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,235.0,237.0,252.0,258.0,268.0,286.0,291.0,289.0,279.0,278.0
90,225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-16.0,-22.0,-27.0,-28.0,-31.0,-34.0,-50.0,-51.0,-60.0,-60.0
91,229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-577.0,-564.0,-591.0,-635.0,-623.0,-645.0,-674.0,-684.0,-636.0,NaN
92,230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79.0,95.0,106.0,100.0,114.0,118.0,122.0,116.0,109.0,NaN
93,234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,160.0,164.0,178.0,173.0,177.0,184.0,195.0,210.0,233.0,256.0
94,235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,218.0,224.0,236.0,249.0,258.0,270.0,277.0,277.0,258.0,255.0
95,236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123.0,138.0,138.0,135.0,140.0,132.0,121.0,127.0,144.0,NaN
96,239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-315.0,-295.0,-316.0,-342.0,-332.0,-348.0,-377.0,-387.0,-350.0,NaN
97,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-603.0,-591.0,-617.0,-658.0,-648.0,-668.0,-697.0,-706.0,-659.0,NaN
98,245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,13.0,15.0,13.0,11.0,19.0,19.0,29.0,52.0,63.0
99,246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.0,97.0,117.0,115.0,121.0,136.0,145.0,145.0,153.0,182.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58.0,66.0,75.0,96.0,104.0,108.0,116.0,119.0,100.0,NaN
414,1351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-173.0,-167.0,-160.0,-144.0,-126.0,-111.0,-100.0,-95.0,-107.0,NaN
415,1352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.0,74.0,73.0,70.0,65.0,72.0,72.0,86.0,105.0,116.0
416,1353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-30.0,-48.0,-65.0,-75.0,-94.0,-99.0,-119.0,-114.0,-119.0,-110.0
417,1354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.0,58.0,53.0,47.0,35.0,46.0,32.0,30.0,29.0,42.0
418,1364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140.0,146.0,151.0,160.0,163.0,162.0,NaN,NaN,NaN,NaN
419,1365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.0,56.0,59.0,65.0,70.0,77.0,84.0,89.0,93.0,NaN
420,1370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-8.0,9.0,16.0,33.0,57.0,63.0,69.0,64.0,NaN,NaN
421,1371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81.0,63.0,64.0,53.0,43.0,59.0,81.0,90.0,NaN,NaN
422,1386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.0,33.0,31.0,44.0,46.0,58.0,66.0,72.0,72.0,NaN
423,1387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81.0,81.0,79.0,90.0,94.0,106.0,122.0,127.0,123.0,NaN
424,1388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-107.0,-105.0,-105.0,-106.0,-115.0,-108.0,-112.0,-116.0,-118.0,NaN
425,1389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92.0,89.0,85.0,95.0,96.0,102.0,114.0,116.0,107.0,NaN
426,1390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,151.0,147.0,139.0,164.0,170.0,189.0,194.0,210.0,213.0,NaN
427,1391,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,135.0,119.0,129.0,127.0,138.0,135.0,129.0,120.0,117.0,NaN
428,1392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-104.0,-89.0,-85.0,-79.0,-77.0,-54.0,-81.0,NaN,NaN,NaN
429,1393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.0,63.0,59.0,65.0,59.0,65.0,65.0,85.0,95.0,104.0
430,1394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,107.0,103.0,99.0,94.0,88.0,101.0,103.0,120.0,139.0,148.0
431,1395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
432,1397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,154.0,147.0,141.0,138.0,134.0,134.0,136.0,148.0,NaN,NaN
433,1420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434,1421,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-113.0,-131.0,-149.0,-167.0,-171.0,-183.0,-193.0,-211.0,-207.0,NaN
435,1437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,106.0,108.0,98.0,107.0,129.0,142.0,153.0,153.0,156.0,NaN
436,1438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,160.0,149.0,126.0,130.0,147.0,156.0,168.0,169.0,170.0,NaN
437,1440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.0,-36.0,-155.0,-109.0,-91.0,-47.0,-36.0,38.0,-51.0,NaN
438,1441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-21.0,-30.0,-16.0,7.0,5.0,18.0,49.0,56.0,38.0,NaN
439,1442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,246.0,245.0,240.0,244.0,257.0,264.0,280.0,295.0,308.0,NaN
440,1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.0,52.0,67.0,54.0,60.0,70.0,84.0,97.0,127.0,145.0
441,1445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.0,87.0,92.0,94.0,87.0,93.0,95.0,113.0,131.0,NaN
442,1446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.0,58.0,59.0,61.0,59.0,65.0,68.0,73.0,82.0,NaN
443,1447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-14.0,-17.0,-26.0,-19.0,-18.0,-11.0,-9.0,10.0,14.0,20.0
444,1448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-7.0,3.0,-6.0,-7.0,3.0,-3.0,-7.0,-12.0,-2.0,NaN
445,1449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-24.0,-18.0,-5.0,9.0,20.0,36.0,46.0,NaN,NaN,NaN
446,1450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,55.0,34.0,27.0,22.0,15.0,5.0,25.0,46.0,NaN,NaN
447,1468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,112.0,124.0,138.0,162.0,171.0,179.0,178.0,182.0,156.0,NaN
448,1469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,54.0,58.0,69.0,87.0,89.0,101.0,106.0,110.0,96.0,NaN
449,1473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-4.0,-2.0,1.0,3.0,3.0,6.0,28.0,58.0,NaN,NaN
450,1474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-16.0,21.0,44.0,79.0,72.0,70.0,63.0,56.0,NaN,NaN
451,1475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.0,43.0,58.0,65.0,69.0,79.0,89.0,NaN,NaN,NaN
452,1488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-179.0,-183.0,-202.0,-198.0,-183.0,-180.0,-178.0,-184.0,-185.0,NaN
453,1489,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,44.0,36.0,31.0,37.0,29.0,36.0,NaN,NaN,NaN,NaN
454,1490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,9.0,0.0,3.0,-2.0,17.0,45.0,56.0,88.0,NaN
455,1495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.0,45.0,58.0,81.0,94.0,104.0,109.0,NaN,NaN,NaN
456,1501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,58.0,78.0,83.0,105.0,95.0,89.0,79.0,92.0,81.0,NaN
457,1505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,163.0,182.0,198.0,210.0,206.0,200.0,199.0,206.0,192.0,NaN
458,1522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.0,47.0,52.0,48.0,35.0,45.0,34.0,28.0,32.0,NaN
459,1527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,66.0,73.0,87.0,111.0,127.0,117.0,114.0,116.0,107.0,NaN
460,1544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,46.0,48.0,52.0,67.0,79.0,95.0,107.0,118.0,NaN
461,1545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-17.0,-18.0,-26.0,-18.0,0.0,3.0,11.0,6.0,-5.0,NaN
462,1546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,132.0,129.0,132.0,138.0,131.0,129.0,126.0,124.0,132.0,NaN
463,1549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,144.0,149.0,162.0,178.0,180.0,181.0,212.0,208.0,190.0,NaN
464,1567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,88.0,67.0,50.0,72.0,68.0,81.0,73.0,72.0,62.0,NaN
465,1568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.0,15.0,12.0,24.0,23.0,32.0,37.0,46.0,52.0,NaN
466,1585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,69.0,69.0,69.0,81.0,85.0,96.0,109.0,113.0,110.0,NaN
467,1586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,17.0,18.0,29.0,29.0,39.0,48.0,52.0,55.0,NaN
468,1587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.0,35.0,29.0,34.0,31.0,26.0,31.0,20.0,2.0,NaN
469,1588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.0,53.0,36.0,40.0,45.0,47.0,58.0,81.0,87.0,NaN
470,1589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.0,19.0,27.0,40.0,56.0,67.0,75.0,70.0,62.0,NaN
471,1590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,68.0,77.0,91.0,98.0,114.0,119.0,123.0,114.0,119.0,NaN
472,1591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-43.0,-39.0,-24.0,-6.0,6.0,24.0,41.0,32.0,19.0,NaN
473,1592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-179.0,-174.0,-170.0,-149.0,-134.0,-132.0,-134.0,-125.0,-129.0,NaN
474,1593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-66.0,-56.0,-47.0,-26.0,-10.0,6.0,15.0,16.0,3.0,NaN
475,1594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-49.0,-38.0,-30.0,-19.0,-6.0,12.0,22.0,26.0,18.0,NaN
476,1595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,12.0,18.0,35.0,54.0,72.0,81.0,84.0,72.0,NaN
477,1597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,7.0,9.0,21.0,28.0,34.0,36.0,40.0,20.0,NaN
478,1600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-26.0,-19.0,-13.0,1.0,14.0,11.0,14.0,22.0,NaN,NaN
479,1627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,124.0,125.0,127.0,135.0,125.0,108.0,105.0,105.0,109.0,NaN
480,1628,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,15.0,2.0,10.0,14.0,23.0,26.0,39.0,39.0,NaN
481,1629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,87.0,88.0,100.0,124.0,143.0,157.0,175.0,182.0,170.0,NaN
482,1630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,134.0,139.0,154.0,175.0,184.0,193.0,204.0,206.0,196.0,NaN
483,1631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,113.0,144.0,160.0,182.0,209.0,228.0,236.0,236.0,218.0,NaN
484,1633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,73.0,58.0,49.0,51.0,44.0,58.0,55.0,69.0,71.0,83.0
485,1634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.0,77.0,67.0,74.0,69.0,73.0,66.0,85.0,95.0,130.0
486,1635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,101.0,102.0,115.0,119.0,127.0,146.0,155.0,158.0,151.0,157.0
487,1636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.0,98.0,114.0,120.0,126.0,142.0,149.0,147.0,137.0,144.0
488,1637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.0,101.0,120.0,127.0,139.0,152.0,157.0,149.0,130.0,120.0
489,1638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.0,39.0,46.0,49.0,55.0,73.0,83.0,91.0,109.0,129.0
490,1639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,140.0,132.0,131.0,136.0,133.0,150.0,153.0,174.0,189.0,206.0
491,1640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,77.0,65.0,61.0,63.0,48.0,53.0,50.0,65.0,72.0,89.0
492,1641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.0,19.0,32.0,31.0,36.0,48.0,60.0,61.0,71.0,96.0
493,1643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,183.0,186.0,189.0,189.0,191.0,197.0,202.0,206.0,217.0,NaN
494,1644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,64.0,72.0,76.0,110.0,113.0,124.0,139.0,141.0,140.0,NaN
495,1645,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.0,83.0,83.0,79.0,72.0,77.0,75.0,88.0,NaN,NaN
496,1801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39.0,29.0,36.0,55.0,57.0,63.0,78.0,93.0,93.0,NaN
497,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,2101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-309.0,-294.0,-321.0,-364.0,-354.0,-376.0,-405.0,-414.0,-367.0,NaN
499,2103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-136.0,-120.0,-141.0,-163.0,-155.0,-172.0,-203.0,-216.0,-189.0,NaN
500,2104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-306.0,-287.0,-305.0,-320.0,-313.0,-327.0,-353.0,-360.0,-333.0,NaN
501,2105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-84.0,-71.0,-86.0,-103.0,-97.0,-108.0,-127.0,-133.0,-103.0,NaN
502,2106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,42.0,60.0,46.0,37.0,46.0,33.0,11.0,1.0,23.0,NaN
503,2107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71.0,86.0,76.0,74.0,80.0,70.0,55.0,49.0,59.0,NaN

In [50]:
stations.describe()

                id    latitude   longitude
count   513.000000  513.000000  513.000000
mean    825.904483   33.845446   25.302012
std     546.822134   27.489068   97.354383
min       1.000000  -65.246000 -177.360000
25%     368.000000   29.135000  -68.517000
50%     808.000000   38.317000   16.548000
75%    1253.000000   52.167000  129.292000
max    2316.000000   79.550000  178.423000

# Worldbank Data, Emissions

In [51]:
#get the data from worldbank, Stand: 7. April 2017

emissions = pd.read_csv('context_data/c02_emissions_worlbank.csv', usecols=[0, 1, 57])

#emissions['c02_rank'] = emissions['2013'].rank(ascending=False)
emissions.rename(columns={'Country Code': 'country_code'}, inplace=True)
emissions.rename(columns={'Country Name': 'country_name'}, inplace=True)
emissions.rename(columns={'2013': 'co2_emissions'}, inplace=True)

#emissions.sort_values(by='c02_rank').head()

emissions.head()

  country_name country_code  co2_emissions
0        Aruba          ABW       8.515395
1  Afghanistan          AFG       0.693183
2       Angola          AGO       1.384496
3      Albania          ALB       1.662185
4      Andorra          AND       6.473848

# Sea Level Population Data, National Population Data

In [52]:
sealevel_pop = pd.read_csv('context_data/lecz-urban-rural-population-land-area-estimates_country-90m.csv')

In [53]:
sealevel_pop['ElevationZone'] = sealevel_pop['ElevationZone'].str.strip()
sealevel_pop['ISO3v10'] = sealevel_pop['ISO3v10'].str.strip()
pop = sealevel_pop.set_index(['ElevationZone'])
pop = pop.loc[['Elevations Less Than or Equal To 10m']]

pop = pop.reset_index()

pop_low_elevation = pop.groupby(by=['ISO3v10'])['Population2010'].sum()
pop_low_elevation = pop_low_elevation.to_frame(name = 'coastal_population2010_sum')
pop_low_elevation = pop_low_elevation.reset_index()

pop_low_elevation.head()

  ISO3v10  coastal_population2010_sum
0     ABW                       21327
1     AGO                      651360
2     AIA                        3848
3     ALB                      354132
4     ANT                       46295

In [54]:
pop_total = sealevel_pop.set_index(['ElevationZone'])
pop_total = pop_total.loc[['Total National Population']]

pop_total = pop_total.reset_index()

pop_total = pop_total.groupby(by=['ISO3v10'])['Population2010'].sum()
pop_total = pop_total.to_frame(name = 'total_population2010_sum')
pop_total = pop_total.reset_index()

pop_total.head()

  ISO3v10  total_population2010_sum
0     ABW                    108141
1     AGO                  19618432
2     AIA                     15645
3     ALB                   3215988
4     ANT                    202847

# Sea Level PSMSL Trend Data

In [55]:
trend_1985_2015 = pd.read_csv('context_data/trends_1985_2015.csv', usecols=[4,7])
trend_1985_2015.rename(columns={'trend': 'trend_1985_2015'}, inplace=True)
trend_1985_2015.head()

   trend_1985_2015  _id
0            2.385    1
1            3.531    7
2            1.476    8
3            1.484    9
4            2.190   10

In [10]:
pd.qcut(trend_1985_2015['trend_1985_2015'], 5)

0        (2.158, 3.131]
1        (3.131, 4.206]
2        (0.555, 2.158]
3        (0.555, 2.158]
4        (2.158, 3.131]
5        (0.555, 2.158]
6        (4.206, 9.444]
7        (2.158, 3.131]
8      [-20.451, 0.555]
9        (2.158, 3.131]
10       (2.158, 3.131]
11       (0.555, 2.158]
12       (2.158, 3.131]
13       (2.158, 3.131]
14       (2.158, 3.131]
15     [-20.451, 0.555]
16       (4.206, 9.444]
17     [-20.451, 0.555]
18       (0.555, 2.158]
19     [-20.451, 0.555]
20       (0.555, 2.158]
21       (3.131, 4.206]
22     [-20.451, 0.555]
23     [-20.451, 0.555]
24     [-20.451, 0.555]
25     [-20.451, 0.555]
26       (2.158, 3.131]
27     [-20.451, 0.555]
28     [-20.451, 0.555]
29       (2.158, 3.131]
30       (0.555, 2.158]
31       (0.555, 2.158]
32     [-20.451, 0.555]
33     [-20.451, 0.555]
34     [-20.451, 0.555]
35       (2.158, 3.131]
36       (0.555, 2.158]
37       (4.206, 9.444]
38       (0.555, 2.158]
39       (0.555, 2.158]
40       (3.131, 4.206]
41       (2.158, 3.131]
42       (2.158, 3.131]
43     [-20.451, 0.555]
44       (2.158, 3.131]
45       (4.206, 9.444]
46       (4.206, 9.444]
47       (2.158, 3.131]
48       (2.158, 3.131]
49       (4.206, 9.444]
50       (4.206, 9.444]
51     [-20.451, 0.555]
52       (4.206, 9.444]
53       (3.131, 4.206]
54       (0.555, 2.158]
55       (2.158, 3.131]
56       (4.206, 9.444]
57       (2.158, 3.131]
58       (0.555, 2.158]
59       (0.555, 2.158]
60       (0.555, 2.158]
61     [-20.451, 0.555]
62       (0.555, 2.158]
63       (4.206, 9.444]
64     [-20.451, 0.555]
65       (4.206, 9.444]
66       (2.158, 3.131]
67       (3.131, 4.206]
68       (4.206, 9.444]
69       (0.555, 2.158]
70       (2.158, 3.131]
71     [-20.451, 0.555]
72       (0.555, 2.158]
73       (0.555, 2.158]
74     [-20.451, 0.555]
75       (2.158, 3.131]
76     [-20.451, 0.555]
77       (4.206, 9.444]
78       (3.131, 4.206]
79       (3.131, 4.206]
80       (4.206, 9.444]
81     [-20.451, 0.555]
82     [-20.451, 0.555]
83       (2.158, 3.131]
84       (3.131, 4.206]
85       (4.206, 9.444]
86       (2.158, 3.131]
87     [-20.451, 0.555]
88     [-20.451, 0.555]
89       (2.158, 3.131]
90       (3.131, 4.206]
91     [-20.451, 0.555]
92       (2.158, 3.131]
93       (0.555, 2.158]
94     [-20.451, 0.555]
95     [-20.451, 0.555]
96     [-20.451, 0.555]
97       (4.206, 9.444]
98       (0.555, 2.158]
99       (0.555, 2.158]
             ...
406      (4.206, 9.444]
407      (0.555, 2.158]
408      (3.131, 4.206]
409      (3.131, 4.206]
410      (0.555, 2.158]
411      (4.206, 9.444]
412      (2.158, 3.131]
413      (3.131, 4.206]
414      (2.158, 3.131]
415      (2.158, 3.131]
416      (0.555, 2.158]
417      (3.131, 4.206]
418      (4.206, 9.444]
419      (2.158, 3.131]
420    [-20.451, 0.555]
421      (2.158, 3.131]
422      (3.131, 4.206]
423      (3.131, 4.206]
424      (2.158, 3.131]
425      (2.158, 3.131]
426      (2.158, 3.131]
427      (2.158, 3.131]
428      (3.131, 4.206]
429    [-20.451, 0.555]
430      (0.555, 2.158]
431      (3.131, 4.206]
432      (3.131, 4.206]
433      (3.131, 4.206]
434      (4.206, 9.444]
435      (0.555, 2.158]
436      (0.555, 2.158]
437      (4.206, 9.444]
438      (4.206, 9.444]
439      (4.206, 9.444]
440      (4.206, 9.444]
441      (0.555, 2.158]
442      (3.131, 4.206]
443      (0.555, 2.158]
444      (2.158, 3.131]
445      (4.206, 9.444]
446      (4.206, 9.444]
447      (2.158, 3.131]
448      (4.206, 9.444]
449      (3.131, 4.206]
450      (3.131, 4.206]
451      (2.158, 3.131]
452      (0.555, 2.158]
453      (2.158, 3.131]
454      (3.131, 4.206]
455      (0.555, 2.158]
456      (3.131, 4.206]
457      (3.131, 4.206]
458      (2.158, 3.131]
459      (4.206, 9.444]
460      (3.131, 4.206]
461      (3.131, 4.206]
462    [-20.451, 0.555]
463    [-20.451, 0.555]
464      (4.206, 9.444]
465      (4.206, 9.444]
466      (3.131, 4.206]
467    [-20.451, 0.555]
468      (0.555, 2.158]
469    [-20.451, 0.555]
470      (2.158, 3.131]
471    [-20.451, 0.555]
472    [-20.451, 0.555]
473      (2.158, 3.131]
474      (4.206, 9.444]
475      (2.158, 3.131]
476      (0.555, 2.158]
477      (0.555, 2.158]
478      (3.131, 4.206]
479      (2.158, 3.131]
480      (4.206, 9.444]
481      (0.555, 2.158]
482      (2.158, 3.131]
483      (2.158, 3.131]
484      (2.158, 3.131]
485    [-20.451, 0.555]
486    [-20.451, 0.555]
487    [-20.451, 0.555]
488    [-20.451, 0.555]
489    [-20.451, 0.555]
490    [-20.451, 0.555]
491      (0.555, 2.158]
492      (3.131, 4.206]
493      (2.158, 3.131]
494      (0.555, 2.158]
495    [-20.451, 0.555]
496    [-20.451, 0.555]
497    [-20.451, 0.555]
498      (0.555, 2.158]
499      (0.555, 2.158]
500      (4.206, 9.444]
501    [-20.451, 0.555]
502      (3.131, 4.206]
503    [-20.451, 0.555]
504      (2.158, 3.131]
505      (2.158, 3.131]
Name: trend_1985_2015, dtype: category
Categories (5, object): [[-20.451, 0.555] < (0.555, 2.158] < (2.158, 3.131] < (3.131, 4.206] < (4.206, 9.444]]

In [56]:
trend_longest = pd.read_csv('context_data/trends_longest.csv', usecols=[4, 6, 12])
trend_longest.rename(columns={'trend': 'trend_longest'}, inplace=True)
trend_longest.rename(columns={'startYear': 'start_year'}, inplace=True)
trend_longest.head()

   start_year  trend_longest  _id
0        1807           0.97    1
1        1811           0.80    2
2        1968           1.73    3
3        1843           2.12    7
4        1849           1.42    8

# Risk Level Data

In [131]:
riskindex = pd.read_csv('context_data/riskindex.csv', usecols=[0,1,2,3])
riskindex.rename(columns={'Rank': 'risk_rank'}, inplace=True)
riskindex.head()

   risk_rank      Country  risk_index risk_description
0          1      Vanuatu       36.28        very high
1          2        Tonga       29.33        very high
2          3  Philippines       26.70        very high
3          4    Guatemala       19.88        very high
4          5   Bangladesh       19.17        very high

# Create Sea Level Context Data

In [57]:
#Add emissions
sealevel_context = stations.merge(emissions, left_on='country', right_on='country_code', how='left')

sealevel_context.describe()

                id    latitude   longitude  co2_emissions
count   513.000000  513.000000  513.000000     500.000000
mean    825.904483   33.845446   25.302012      10.213933
std     546.822134   27.489068   97.354383       4.530086
min       1.000000  -65.246000 -177.360000       0.214119
25%     368.000000   29.135000  -68.517000       6.779624
50%     808.000000   38.317000   16.548000       9.764393
75%    1253.000000   52.167000  129.292000      13.532295
max    2316.000000   79.550000  178.423000      16.389758

In [58]:
#Add sealevel population
sealevel_context = sealevel_context.merge(pop_low_elevation, left_on='country', right_on='ISO3v10', how='left')

sealevel_context['id'].nunique()

513

In [59]:
sealevel_context.head()

,id,location,latitude,longitude,country,continent,country_name,country_code,co2_emissions,ISO3v10,coastal_population2010_sum
0,1,Brest,48.383,-4.495,FRA,europe,France,FRA,5.050483,FRA,2983590.0
1,61,Marseille,43.279,5.354,FRA,europe,France,FRA,5.050483,FRA,2983590.0
2,453,Le Havre,49.482,0.106,FRA,europe,France,FRA,5.050483,FRA,2983590.0
3,467,Cherbourg,49.651,-1.636,FRA,europe,France,FRA,5.050483,FRA,2983590.0
4,468,Dunkerque,51.048,2.367,FRA,europe,France,FRA,5.050483,FRA,2983590.0

In [60]:
# clean up data (remove country code)

sealevel_context = sealevel_context.drop('ISO3v10', 1)

In [61]:
#Add national population
sealevel_context = sealevel_context.merge(pop_total, left_on='country', right_on='ISO3v10', how='left')

In [62]:
sealevel_context.head()

,id,location,latitude,longitude,country,continent,country_name,country_code,co2_emissions,coastal_population2010_sum,ISO3v10,total_population2010_sum
0,1,Brest,48.383,-4.495,FRA,europe,France,FRA,5.050483,2983590.0,FRA,63125894.0
1,61,Marseille,43.279,5.354,FRA,europe,France,FRA,5.050483,2983590.0,FRA,63125894.0
2,453,Le Havre,49.482,0.106,FRA,europe,France,FRA,5.050483,2983590.0,FRA,63125894.0
3,467,Cherbourg,49.651,-1.636,FRA,europe,France,FRA,5.050483,2983590.0,FRA,63125894.0
4,468,Dunkerque,51.048,2.367,FRA,europe,France,FRA,5.050483,2983590.0,FRA,63125894.0

In [63]:
# clean up data (remove country code)

sealevel_context = sealevel_context.drop('ISO3v10', 1)
#sealevel_context = sealevel_context.drop('country_name', 1)
sealevel_context.head()

,id,location,latitude,longitude,country,continent,country_name,country_code,co2_emissions,coastal_population2010_sum,total_population2010_sum
0,1,Brest,48.383,-4.495,FRA,europe,France,FRA,5.050483,2983590.0,63125894.0
1,61,Marseille,43.279,5.354,FRA,europe,France,FRA,5.050483,2983590.0,63125894.0
2,453,Le Havre,49.482,0.106,FRA,europe,France,FRA,5.050483,2983590.0,63125894.0
3,467,Cherbourg,49.651,-1.636,FRA,europe,France,FRA,5.050483,2983590.0,63125894.0
4,468,Dunkerque,51.048,2.367,FRA,europe,France,FRA,5.050483,2983590.0,63125894.0

In [64]:
#Add trend data for 1985 to 2015
sealevel_context = sealevel_context.merge(trend_1985_2015, left_on='id', right_on='_id', how='left')

In [65]:
# clean up data (remove _id)
sealevel_context = sealevel_context.drop('_id', 1)

In [66]:
#Add longest trend
sealevel_context = sealevel_context.merge(trend_longest, left_on='id', right_on='_id', how='left')

In [67]:
sealevel_context.head()

,id,location,latitude,longitude,country,continent,country_name,country_code,co2_emissions,coastal_population2010_sum,total_population2010_sum,trend_1985_2015,start_year,trend_longest,_id
0,1,Brest,48.383,-4.495,FRA,europe,France,FRA,5.050483,2983590.0,63125894.0,2.385,1807.0,0.97,1.0
1,61,Marseille,43.279,5.354,FRA,europe,France,FRA,5.050483,2983590.0,63125894.0,3.530,1885.0,1.32,61.0
2,453,Le Havre,49.482,0.106,FRA,europe,France,FRA,5.050483,2983590.0,63125894.0,1.984,1959.0,2.66,453.0
3,467,Cherbourg,49.651,-1.636,FRA,europe,France,FRA,5.050483,2983590.0,63125894.0,1.908,1975.0,1.47,467.0
4,468,Dunkerque,51.048,2.367,FRA,europe,France,FRA,5.050483,2983590.0,63125894.0,NaN,1957.0,1.96,468.0

In [68]:
#Add riskindex
#sealevel_context = sealevel_context.merge(riskindex, left_on='country_name', right_on='Country', how='left')

#sealevel_context.head()

In [69]:
#sealevel_context = sealevel_context.drop('Country', 1)
#sealevel_context = sealevel_context.drop('country_name', 1)
sealevel_context = sealevel_context.drop('country', 1)
sealevel_context = sealevel_context.drop('_id', 1)

In [70]:
sealevel_context.head()

,id,location,latitude,longitude,continent,country_name,country_code,co2_emissions,coastal_population2010_sum,total_population2010_sum,trend_1985_2015,start_year,trend_longest
0,1,Brest,48.383,-4.495,europe,France,FRA,5.050483,2983590.0,63125894.0,2.385,1807.0,0.97
1,61,Marseille,43.279,5.354,europe,France,FRA,5.050483,2983590.0,63125894.0,3.530,1885.0,1.32
2,453,Le Havre,49.482,0.106,europe,France,FRA,5.050483,2983590.0,63125894.0,1.984,1959.0,2.66
3,467,Cherbourg,49.651,-1.636,europe,France,FRA,5.050483,2983590.0,63125894.0,1.908,1975.0,1.47
4,468,Dunkerque,51.048,2.367,europe,France,FRA,5.050483,2983590.0,63125894.0,NaN,1957.0,1.96

In [71]:
#Add tide data

sealevel_context = sealevel_context.merge(tide_data, left_on='id', right_on='id', how='left')

In [72]:
sealevel_context['co2_emissions'] = sealevel_context['co2_emissions'].round(decimals=2)
sealevel_context['trend_1985_2015'] = sealevel_context['trend_1985_2015'].round(decimals=2)

sealevel_context['trend_longest'] = sealevel_context['trend_1985_2015'].round(decimals=2)
sealevel_context['start_year'] = sealevel_context['start_year'].astype(object)
sealevel_context['total_population2010_sum'] = sealevel_context['total_population2010_sum'].astype(object)
sealevel_context['coastal_population2010_sum'] = sealevel_context['coastal_population2010_sum'].astype(object)
#sealevel_context['risk_rank'] = sealevel_context['risk_rank'].astype(object)
#sealevel_context['c02_rank'] = sealevel_context['c02_rank'].astype(object)

In [73]:
sealevel_context.head()

,id,location,latitude,longitude,continent,country_name,country_code,co2_emissions,coastal_population2010_sum,total_population2010_sum,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,1,Brest,48.383,-4.495,europe,France,FRA,5.05,2.98359e+06,6.31259e+07,...,133.0,135.0,140.0,157.0,158.0,162.0,164.0,176.0,169.0,NaN
1,61,Marseille,43.279,5.354,europe,France,FRA,5.05,2.98359e+06,6.31259e+07,...,144.0,147.0,161.0,204.0,200.0,210.0,217.0,226.0,191.0,NaN
2,453,Le Havre,49.482,0.106,europe,France,FRA,5.05,2.98359e+06,6.31259e+07,...,88.0,88.0,89.0,95.0,95.0,95.0,96.0,107.0,111.0,NaN
3,467,Cherbourg,49.651,-1.636,europe,France,FRA,5.05,2.98359e+06,6.31259e+07,...,3.0,6.0,10.0,21.0,21.0,23.0,22.0,30.0,22.0,NaN
4,468,Dunkerque,51.048,2.367,europe,France,FRA,5.05,2.98359e+06,6.31259e+07,...,145.0,150.0,148.0,149.0,146.0,141.0,140.0,147.0,152.0,NaN

In [74]:
sealevel_context.describe()

,id,latitude,longitude,co2_emissions,trend_1985_2015,trend_longest,1807,1808,1809,1810,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
count,513.000000,513.000000,513.000000,500.000000,424.000000,424.000000,1.0,1.0,1.0,1.0,...,509.000000,509.000000,509.000000,509.000000,504.000000,495.000000,464.000000,440.000000,418.000000,98.000000
mean,825.904483,33.845446,25.302012,10.213260,2.044340,2.044340,0.0,-51.0,-39.0,-35.0,...,50.269155,52.416503,52.640472,55.538310,59.605159,62.967677,63.368534,64.870455,66.569378,125.102041
std,546.822134,27.489068,97.354383,4.530425,3.324125,3.324125,NaN,NaN,NaN,NaN,...,194.071807,194.775793,199.683782,205.659418,207.373015,213.589543,224.117930,230.468769,230.661412,256.457769
min,1.000000,-65.246000,-177.360000,0.210000,-20.450000,-20.450000,0.0,-51.0,-39.0,-35.0,...,-1113.000000,-1129.000000,-1151.000000,-1169.000000,-1193.000000,-1211.000000,-1248.000000,-1262.000000,-1280.000000,-1293.000000
25%,368.000000,29.135000,-68.517000,6.780000,0.967500,0.967500,0.0,-51.0,-39.0,-35.0,...,-6.000000,-8.000000,-8.000000,-7.000000,1.000000,6.000000,9.000000,10.750000,2.250000,89.750000
50%,808.000000,38.317000,16.548000,9.760000,2.625000,2.625000,0.0,-51.0,-39.0,-35.0,...,66.000000,66.000000,70.000000,78.000000,77.500000,81.000000,86.000000,92.000000,96.500000,162.000000
75%,1253.000000,52.167000,129.292000,13.530000,3.890000,3.890000,0.0,-51.0,-39.0,-35.0,...,135.000000,143.000000,144.000000,157.000000,158.250000,162.000000,168.500000,175.250000,179.750000,233.000000
max,2316.000000,79.550000,178.423000,16.390000,9.440000,9.440000,0.0,-51.0,-39.0,-35.0,...,1070.000000,1053.000000,1042.000000,1060.000000,1069.000000,1079.000000,1112.000000,1127.000000,1110.000000,611.000000

In [75]:
sealevel_context.to_csv('context_data/sealevel_data_download.csv', index=False)

In [32]:
sealevel_context.to_csv('context_data/sealevel_context_data.csv', index=False)

In [33]:
sealevel_context.to_csv('data/dataviz/sealevel_context_data.csv', index=False)