# Sea Level: CO-OPS Data

In [1]:
%matplotlib inline

from IPython.core.interactiveshell import InteractiveShell
from datetime import datetime

import glob
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.backends.backend_pdf import PdfPages

InteractiveShell.ast_node_interactivity = "all"
matplotlib.rcParams['svg.fonttype'] = 'none'

In [5]:
stationID = 9461380
url = 'http://tidesandcurrents.noaa.gov/api/datagetter?begin_date=18500101&end_date=20161231&station=' + str(stationID) + '&product=monthly_mean&datum=MSL&units=metric&time_zone=gmt&application=correctiv&format=csv'
#df = pd.read_csv(url)

   
#df = pd.concat([getData(f) for f in stations['UH#']])

#df['timestamp'] = pd.to_datetime(df[['year', 'month', 'day']], errors='coerce')

df.tail()

#df.dtypes

,Year,Month,Highest,MHHW,MHW,MSL,MTL,MLW,MLLW,DTL,GT,MN,DHQ,DLQ,HWI,LWI,Lowest,Inferred
780,2015,8,0.688,0.332,0.241,-0.095,-0.102,-0.445,-0.650,-0.159,0.982,0.686,0.091,0.205,NaN,NaN,-0.931,0
781,2015,9,0.462,0.244,0.177,-0.096,-0.069,-0.315,-0.585,-0.170,0.829,0.492,0.067,0.270,3.01,8.85,-0.928,0
782,2015,10,0.727,0.390,0.337,0.036,0.048,-0.242,-0.530,-0.070,0.920,0.579,0.053,0.288,NaN,NaN,-1.071,0
783,2015,11,0.878,0.478,0.394,0.010,0.003,-0.389,-0.625,-0.073,1.103,0.783,0.084,0.236,NaN,NaN,-0.946,0
784,2015,12,0.989,0.656,0.534,0.126,0.067,-0.400,-0.533,0.062,1.189,0.934,0.122,0.133,NaN,NaN,-0.899,0