In [2]:
%matplotlib inline

from IPython.core.interactiveshell import InteractiveShell

import datetime

import glob
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib

from pandas_datareader import wb


InteractiveShell.ast_node_interactivity = "all"
matplotlib.rcParams['svg.fonttype'] = 'none'

In [11]:
 dat = wb.download(indicator='EN.ATM.CO2E.PC', country=['USA', 'PHL', 'CHE', 'DEU', 'ISL', 'CHN', 'KWT', 'SG'], start=2013, end=2013)

In [12]:
dat

                    EN.ATM.CO2E.PC
country       year
Switzerland   2013        4.987795
China         2013        7.550916
Germany       2013        9.220591
Iceland       2013        6.082143
Kuwait        2013       27.258964
Philippines   2013        1.006839
Singapore     2013        9.363847
United States 2013       16.389758

In [13]:
dat2 = wb.download(indicator='EN.ATM.CO2E.KT', country=['USA', 'PHL', 'CHE', 'DEU', 'ISL', 'CHN', 'KWT', 'SG'], start=2013, end=2013)

dat2

                    EN.ATM.CO2E.KT
country       year
Switzerland   2013    4.034800e+04
China         2013    1.024946e+07
Germany       2013    7.573125e+05
Iceland       2013    1.969179e+03
Kuwait        2013    9.796024e+04
Philippines   2013    9.823893e+04
Singapore     2013    5.055693e+04
United States 2013    5.186168e+06